body {background-color:#F0F2F7;}
h1 {font-family:궁서;}
.align-center {text-align:center;}
img.align-center {display:block;margin-left:auto;margin-right:auto;}
.dropdown-visible {display: none;}
.dropdown:hover .dropdown-invisible {display:none;}
.dropdown:hover .dropdown-visible {display:block;}
table.border {
  border:10px solid transparent;
  border-image:url(border.png) 30 round;
  padding:10px;
  box-shadow: 10px 10px 5px lightgray;
}
table.border th {border-style: dotted;}
table.border td {border-style: groove;}
